.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/config/applicationhost.config
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/FileContentIndex/a585fff2-3d16-4be5-910b-bb2e4bbaedfc.vsidx
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/v17/.wsuo
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
