.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/config/applicationhost.config
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/FileContentIndex/a585fff2-3d16-4be5-910b-bb2e4bbaedfc.vsidx
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/v17/.wsuo
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
acessa_dev_web\.vs\acessa_dev_web\**
acessa_dev_web/.vs/acessa_dev_web/*
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/FileContentIndex/ce3c4c33-5e57-4050-82e3-0b3a87fff05d.vsidx
.vs/pmv-ads-2025-2-e2-proj-int-t7-g2-reducao-de-desigualdades/FileContentIndex/f9c41eb1-2898-4b89-8520-e51463aa35d8.vsidx
