@model acessa_dev_web.Models.MediaAvaliacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MediaAvaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idLocal" class="control-label"></label>
                <select asp-for="idLocal" class ="form-control" asp-items="ViewBag.idLocal"></select>
            </div>
            <div class="form-group">
                <label asp-for="QtdAvaliacoes" class="control-label"></label>
                <input asp-for="QtdAvaliacoes" class="form-control" />
                <span asp-validation-for="QtdAvaliacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlUltimaAvaliacao" class="control-label"></label>
                <input asp-for="VlUltimaAvaliacao" class="form-control" />
                <span asp-validation-for="VlUltimaAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlUltimaAvaliacaoMedia" class="control-label"></label>
                <input asp-for="VlUltimaAvaliacaoMedia" class="form-control" />
                <span asp-validation-for="VlUltimaAvaliacaoMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvaliacaoMedia" class="control-label"></label>
                <input asp-for="AvaliacaoMedia" class="form-control" />
                <span asp-validation-for="AvaliacaoMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

