@model acessa_dev_web.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<link rel="stylesheet" href="~/css/crud-styles.css" asp-append-version="true" />


<div class="crud-container">
    <h1>Detalhes do Usuário</h1>

    <div class="details-group">
        <label class="details-label">@Html.DisplayNameFor(model => model.Nome)</label>
        <div class="details-value">@Html.DisplayFor(model => model.Nome)</div>
    </div>

    <div class="details-group">
        <label class="details-label">@Html.DisplayNameFor(model => model.Perfil)</label>
        <div class="details-value">@Html.DisplayFor(model => model.Perfil)</div>
    </div>

    <div class="action-buttons">
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.id">Editar</a>
    </div>
</div>